<table style="height: 273px; border-color: #000000; margin-left: auto; margin-right: auto;" border="2" width="678">
    <tbody>
        <tr>
            <th>Дата</th>
            <th>Новость</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td style="width: 218.656px; text-align: center;">{{ value3 }}</td>
            <td style="width: 218.656px; text-align: center;">{{ value2 }}</td>
            <td style="width: 218.688px; text-align: center;">{{ value1 }}</td>
        </tr>
        <tr>
            <td style="width: 218.656px; text-align: center;">{{ value3 }}</td>
            <td style="width: 218.656px; text-align: center;">{{ value2 }}</td>
            <td style="width: 218.688px; text-align: center;">{{ value1 }}</td>
        </tr>
        <tr>
            <td style="width: 218.656px; text-align: center;">{{ value3 }}</td>
            <td style="width: 218.656px; text-align: center;">{{ value2 }}</td>
            <td style="width: 218.688px; text-align: center;">{{ value1 }}</td>
        </tr>
    </tbody>
</table>
