{% extends 'news/default.html' %}

{% block content %}
<h1>{{title}}</h1>






<ul class="news_list">
    {% for p in posts %}
    <li>
        {% if c %}
            <p class="first">Категория: {{p.cat}} -
            <em><a href="{% url 'subscribe' c.id %}" > подписаться на категорию</a></em>
            </p>
        {% else %}
            <p class="first">
                <em>Категория: {{p.cat}}</em> - вы подписаны!
                <em><a href="{% url 'unsubscribe' c.id %}"> Отписаться</a></em>
            </p>
        {% endif %}
        <small>автор: {{p.auth}}</small>
        <h2>{{p.title}}</h2>
        <p>{{p.date}}</p>
        <p>{{p.description|truncatechars:20}}</p>
        <p class="link-read-post"><a href="{{p.get_absolute_url}}">Читать новость</a></p>
        <hr>
    </li>
    {% endfor %}
</ul>
{% endblock %}