{% extends 'news/default.html' %}

{% block content %}
<h1>{{title}}</h1>



<ul class="news_list">
    {% for p in posts %}
    <li>
        <p class="first">Категория: {{p.cat}}</p>
        <h2>{{p.title}}</h2>
        <p><small><i>{{p.date}}</i></small></p>
        <p>{{p.description|truncatechars:50}}</p>
        <p><small><b>Автор: {{p.auth}}</b></small></p>
        <p class="link-read-post"><a href="{{p.get_absolute_url}}">Читать новость</a></p>
        <hr>
    </li>
    {% endfor %}
</ul>
{% endblock %}

